
<mat-toolbar color="primary">
	<a>BSL</a>
	<span class="move"></span>
	<a routerLink="/cuentas" routerLinkActive="active">
		<button mat-button>Cuentas</button>
	</a>
	<a routerLink="/clientes" routerLinkActive="active">
		<button mat-button>Clientes </button>
	</a>
	<a routerLink="/login" routerLinkActive="active">
		<button mat-button>LogOut</button>
	</a>
</mat-toolbar>


<!-- <div style="width:70%; height:100%;background: rgb(219, 219, 219);display:flex;align-items:center"> -->
	<div class="mainDiv">
		<div class="divTitle">
			<h1 style="margin-top: 0;text-align:center;font-size: 25px;">Beneficiarios</h1>
			<button mat-mini-fab color="primary" style="margin-left: auto;
            position: relative; margin-top:-10px;" class = tooltip-wrap>
                <mat-icon>add</mat-icon>
                <div class="tooltip-content">
                    <p>Agregar</p>
                </div> 
            </button>
		</div>
		<br style="height:100%">
		<div class="divCenter">
			<div *ngFor="let users of this.listUsers" class="divUsers">
				<div class="divUsersTitle">
                 <button mat-mini-fab style="margin-left: auto; position: relative; 
                 z-index: 1; margin-top: auto;" class = tooltip-wrap>
                        <mat-icon>description</mat-icon>
                        <div class="tooltip-content">
                            <p>Editar Datos</p>
                        </div> 
                    </button>
                    <button mat-mini-fab color="warn" style="margin-left: auto; position: 
                    relative; z-index: 1; margin-top: auto;" class = tooltip-wrap>
                        <mat-icon>delete</mat-icon>
                        <div class="tooltip-content">
                            <p>Eliminar</p>
                        </div> 
                    </button>


					<!-- <h1 style="margin-top: 0;text-align:center"> {{ users.Nombre }}</h1> -->

				</div>
				<div class="divUsersInformation">
					<h1>Nombre: {{ users.Nombre }}</h1>
					<h1>V.ID: {{ users.ValorDocumentoIdentidad }}</h1>

				</div>
			</div>
		</div>
		<br>
	</div>
<!-- </div> -->