<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput disabled value="Juan">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo de Identificacion</mat-label>
        <input matInput disabled value="Nacional">
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Identificacion</mat-label>
        <input matInput disabled value="0-0000-0000">
      </mat-form-field></td>
      
    </tr></table>
  
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput disabled value="00-00-0000">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input matInput disabled value="juan@gmail.com">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>

        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telefono 1</mat-label>
          <input matInput disabled value="0000-0000">
        </mat-form-field></td>
  
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telefono 2</mat-label>
          <input matInput disabled value="0000-0000">
        </mat-form-field></td>
      </tr></table>

  </form>