<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Identificacion del Cliente</mat-label>
      <input matInput disabled value="0-0000-0000">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo de Cuenta de Ahorros</mat-label>
        <input matInput disabled value="Universidad">
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Numero de Cuenta</mat-label>
        <input matInput disabled value="000000000">
      </mat-form-field></td>
    </tr></table>
  
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Saldo</mat-label>
        <input matInput disabled value="0">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fecha de Constitucion</mat-label>
        <input matInput disabled value="00-00-0000">
      </mat-form-field>

  </form>